/******************************************************************************
* Author:     Edmund Dea
* Student Id: 933280343
* Date:       2/17/17
* Class:      CS290
* Title:      Week 6 - HW Assignment: AJAX Interactions
* Filename:   style.css
******************************************************************************/

body
{
    background: url("nature_wallpaper.jpg") no-repeat center center fixed;
    background-size: 100%;
}

.openWeatherApiBox
{
    position: absolute;
    top: 5%;
    left: 50%;
    height: 90px;
    width: 500px;    
    border-radius: 15px;

    /* Reference: https://stackoverflow.com/questions/7565384/how-to-make-the-background-div-only-transparent-using-css */
    background: rgba(255,255,255,0.8);

    /* Reference: https://www.w3schools.com/css/css3_2dtransforms.asp */
    transform: translate(-50%, -5%);
}

.openWeatherApiBanner
{
    position: absolute;
    height: 50px;
    width: 350px;
    top: 5px;
    left: calc(50% - calc(350px/2));
}

.openWeatherApiForm
{
    position: relative;
    top: 50px;
    border: 0;
    font-family: Arial;
}

input[type="text"]
{
    margin: 0;
    border: 0;
    border-bottom: 1px solid black;
    background: transparent;
}

#form1_loc
{
    width: 300px;
}

#form2_name
{
    width: 300px;
}

#form2_age
{
    width: 312px;
}

#form2_hero
{
    width: 215px;
}

fieldset
{
    border: 0;
}

input[type="submit"]
{
    float: right;
    background: #F5B041;
    box-shadow: none;
    border-radius: 8px;
}

#weatherReport
{
    position: relative;
    font-family: Arial;
    top: 50px;
    left: 15px;
}

.httpBinBox
{
    position: absolute;
    padding-top: 10px;
    top: 75%;
    left: 50%;
    height: 130px;
    width: 500px;    
    border-radius: 15px;

    /* Reference: https://stackoverflow.com/questions/7565384/how-to-make-the-background-div-only-transparent-using-css */
    background: rgba(255,255,255,0.8);

    /* Reference: https://www.w3schools.com/css/css3_2dtransforms.asp */
    transform: translate(-50%, -75%);
}

#httpBinReport
{
    margin-left: 10px;
}