/******************************************************************************
* Author:     Edmund Dea
* Student Id: 933280343
* Date:       3/1/17
* Class:      CS290
* Title:      Final Project
* Filename:   style.css
******************************************************************************/

body
{
	background: url("../resources/background.jpg");
	background-attachment: inherit;
    background-position: unset;
    background-repeat: repeat;
    background-size: inherit;
}

.bar
{
	border-radius: 3px;
	background: #3e4444;
	height: 3px;
	width: 100px;
	margin: 8px;
}

.container-body
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-body-header
{
	background-color: transparent;
	color: #3e4444;
	border-radius: 10px;
	width: 80%;
	height: 40px;
	font-size: 2em;
	font-weight: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Mina", "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.bg
{
	margin: 0 0 20px 20px;
	color: #3e4444;
}

.bg-img-div
{
	min-width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-img-src
{
	height: 80px;
	width: 100px;
}

.bg-img-src2
{
	height: 100px;
	width: 80px;
}

.bg-img-src3
{
	height: 100px;
	width: 100px;
}

.bg-img-text
{
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	color: #ca8722;
	font-family: sans-serif;
}

.bg-title
{
	color: #82b74b;
	font-weight:bold;
	font-size: larger;
	font-family: "Work+Sans", "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.bg-company
{
	color: #2a6592;
	font-weight:bold;
	font-size: larger;
	font-family: "Muli", "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.bg-description
{
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	color: #ca8722;
	font-family: sans-serif;
}

/* Reference:
 * https://css-tricks.com/slide-in-as-you-scroll-down-boxes/
 */
.fly-in-row
{
	display: inherit;
	transform: translateY(2160px);
	animation: fly-in-row 0.5s ease forwards;
}

.fly-in-row:nth-child(odd)
{
	animation-duration: 0.4s;
}

/* Reference: 
 * https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp 
 */
@keyframes fly-in-row
{
	to { transform: translateY(0); }
}

.row-body
{
	opacity: 0;
	filter: alpha(opacity=0);
}

/********** Carousel Overrides **********/

/*
.myCarousel
{
	display: none;
}

.carousel .carousel-inner .item {
	height: 100vh;
	min-width: 100vh;
}

.carousel-inner .item
{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-indicators {
    text-align: center;
    margin-right: 5px;
    right: 5px;
    left: inherit;
    height: 25%;
    width: 15px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    margin-right: 5px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    height: 25px;
    width: 8px;
}
*/
/* Reference: https://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide */
/*.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right
{
	transition: opacity 1s;
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .next.right
{
	opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right
{*/
	/* Use GPU acceleration for better transition effect performance */
/*    transform: translate3d(0, 0, 0);
}

.item:nth-child(1)
{*/
	/* Reference: 
	 * https://commons.wikimedia.org/wiki/File:Black-and-white-man-person-hands_(24243824281).jpg
	 * Image labelled for noncommercial reuse
	 */
/*    background-image: url("../resources/1.jpg");
}

.item:nth-child(2)
{*/
	/* Reference: 
	 * http://dodskypict.com/computer-wallpaper/computer-wallpaper-2/
	 * Image labelled for noncommercial reuse
	 */
/*    background-image: url("../resources/chip.jpg");
}

.item:nth-child(3)
{*/
	/* Reference: 
	 * https://www.flickr.com/photos/doxiehaus/6824168895
	 * Image labelled for noncommercial reuse
	 */
/*    background-image: url("../resources/2a.jpg");
}
*/

/* Reference: 
 * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow
 */
.carousel-container
{
	width: 100%;
}

.carousel-slide
{
	display: block;
}

.carousel-img
{
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1
{
	/* Reference: 
	 * https://commons.wikimedia.org/wiki/File:Black-and-white-man-person-hands_(24243824281).jpg
	 * Image labelled for noncommercial reuse
	 */
    background-image: url("../resources/1.jpg");
}

.img2
{
	/* Reference: 
	 * http://dodskypict.com/computer-wallpaper/computer-wallpaper-2/
	 * Image labelled for noncommercial reuse
	 */
    background-image: url("../resources/chip.jpg");
}

.img3
{
	/* Reference: 
	 * https://www.flickr.com/photos/doxiehaus/6824168895
	 * Image labelled for noncommercial reuse
	 */
    background-image: url("../resources/2a.jpg");
}

.carousel-indicator-group
{
	position: absolute;
    margin: 0;
    z-index: 99999;
    right: 0;
    top: 75%;
}

.carousel-indicator
{
	height: 25px;
	width: 12px;
	margin: 10px;
	background-color: #888;
	border: 1px solid #fff;
	border-radius: 20px;
	transition: background-color 0.6s ease;

	/* Reference:
	 * Not all browsers behave the same for opacity.
	 * https://stackoverflow.com/questions/11807286/how-to-make-div-background-color-transparent-in-css
	 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
	filter: alpha(opacity=80); /* IE 5-7 */
	-moz-opacity: 0.8; /* Netscape */
	-khtml-opacity: 0.8; /* Safari 1.x */
	opacity: 0.8; /* Good browsers */
}

.carousel-indicator:hover
{
	border: 2px solid #fff;
}

.carousel-text1
{
	position: absolute;
	font-weight: bold;
	font-family: "Mina", "Ubuntu", "Muli", "Work+Sans", sans-serif;
	font-size: 3.25em;
	color: #fff;
	top: 85vh;
	left: 5vh;
}

.carousel-text2
{
	position: absolute;
	font-weight: bold;
	font-family: "Mina", "Ubuntu", "Muli", "Work+Sans", sans-serif;
	font-size: 3.5em;
	color: #fff;
	top: 92vh;
	left: 70vh;
}

.carousel-text3
{

}

/* Reference:
 * https://codepen.io/Rowno/pen/Afykb
 */
.carousel-fade
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;

	/* Use GPU when possible for fade transition to increase FPS */
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0,0,0);
}

/* Reference:
 * https://webkit.org/blog/324/css-animation-2/
 */
@-webkit-keyframes fade
{
	from {opacity: 0.5} 
	to {opacity: 1}
}

@keyframes fade
{
  from {opacity: 0.5}
  to {opacity: 1}
}

/********** NavBar Overrides **********/

.navbar
{
   position: fixed;
   z-index: 999999999;
   top: 0;
   background-color: transparent;
   border-color: transparent;
   width: 100%;
   font-weight: bold;
   transition: top 0.2s ease-in-out;
   border-radius: 0;
}

.navbar-down1,
.navbar-down1 .navbar-nav > li > a
{
    color: #fff;
    top: 0px;
    background: transparent;
	opacity: 100;
	filter: alpha(opacity=1.0);
	boxShadow: none;
}

.navbar-down2
{
    color: #555;
    top: 0px;
    background-color: #2a6592;
	opacity: 94;
	filter: alpha(opacity=0.94);
	box-shadow: 0px 3px 3px rgba(85, 85, 85, 0.94);
}

.navbar-up
{
    top: -100px;
}

.container-fluid
{
    display: flex;
    align-items: center;
}

.navbar-nav
{
    margin-left: auto;
}

.img-brand
{
    /* Banner labelled for noncommercial reuse with modification
     * https://commons.wikimedia.org/wiki/File:EPrix_logo.svg
     */
    background-image: url("../resources/E_logo.png");
    background-size: 100% 100%;
    height: 35px;
    width: 70px;
    padding: 2px 2px 2px 2px;
}

.navbar-nav li
{
    margin-right: 5px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 120%;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus
{
    color: #ca8722;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover
{
    color: peachpuff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a
{
    /*color: #fff;*/
}

.navbar-default .navbar-nav > li > a:hover
{
    color: peachpuff;
}

/********** Well Overrides **********/

.separator-1
{
	/* Reference: 
	 * https://commons.wikimedia.org/wiki/File:Wallpaper-2751.jpg
	 */
	background: url("../resources/3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    min-width: 100vm;
}

.video-1
{
	width: 480px;
}